div.form {
	background-color: #66e455;
	width: 500px;
	margin-top: 5px;
	margin-left: 10%;
	margin-right: auto;
	margin-bottom: 20px;
	border: 5px solid #66e455;
}

div.results {
	background-color: #66e455;
	border: 5px solid #66e455;
}